header.header
    .wrap
        .program-name
            a(href=routes.home)=PROGRAM_NAME
        .navbar
                span
                    a(href=routes.home) 홈
                ||
                span
                    a(href=routes.message) 업무연락
                ||
                span
                    a(href=routes.email) 이메일
                ||
                span
                    a(href=routes.approval) 전자결재
                ||
                span
                    a(href=routes.board) 게시판